<style>
    .login-front {
        position: relative;
        z-index: 9999;
    }
</style>

@model LoginVM
<br />

<div class="container login-front">
    <div class="row">

      <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          <div class="form-group">
              <label asp-for="Email">Email address</label>
                <input asp-for="Email" class="form-control" placeholder="Enter email">
          </div>
          <div class="form-group">
              <label asp-for="Password">Password</label>
              <input asp-for="Password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
</div>